.about__wrapper {
  border: none;
  margin: 0 0 20px 22px;
  padding: 0;
}

.about__list {
  .resetList();
}

.about__trip-header,
.about__app-header {
  .setFont(@pink, 14px, @regular);
  text-align: center;
  background-color: @grey;
}

.about__trip,
.about__app {
  background-color: @grey;
}
