.app {
  min-width: 320px;
  background-color: @dark-blue;
}

.app__wrapper {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.app__slogan {
  padding-top: 80px;
  width: 100%;
  background:
    url("../img/iphone-hand-mobile@1x.png") 0% 100% no-repeat,
    url("../img/bg-back-mobile@1x.jpg") 0 0 no-repeat;
  background-size: 258px auto, cover;

  &--toggle-open {
    padding-top: 3px;
    background:
      url("../img/iphone-hand-mobile@1x.png") 0% 100% no-repeat,
      url("../img/bg-back-mobile@1x.jpg") 0 -65px no-repeat;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .app__slogan {
    background:
      url("../img/iphone-hand-mobile@2x.png") 0% 100% no-repeat,
      url("../img/bg-back-mobile@2x.jpg") 0 0 no-repeat;
    background-size: 258px auto, cover;

    &--toggle-open {
      padding-top: 3px;
      background:
        url("../img/iphone-hand-mobile@1x.png") 0% 100% no-repeat,
        url("../img/bg-back-mobile@1x.jpg") 0 -65px no-repeat;
    }
  }
}

.app__slogan-text {
  margin: 0;
  padding: 9px 45px 313px 45px;
  text-align: center;
  line-height: 30px;
  .setFont(white, 24px, @light);

  &--toggle-open {
    padding-top: 20px;
  }
}

.app__button {
  display: block;
  margin: 28px auto;
  text-align: center;
  text-decoration: none;
  .setFont(white, 18px, @bold);
  border: 3px solid white;
  border-radius: 30px;
  line-height: 49px;

  &:hover {
    background-color: white;
    color: @pink;
  }

  &:active {
    color: @opacity-pink;
  }
}

.app__platforms {
  width: 235px;
  margin: 23px auto 0;
  padding-bottom: 29px;
  .setFont(white, 14px, @light);
  line-height: 24px;
  text-align: center;
}

.app__platforms-list {
  list-style: none;
  padding: 0 38px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 360px) {
  .app__slogan {
    width: 100%;
    background:
      url("../img/iphone-hand-mobile@1x.png") 50% 100% no-repeat,
      url("../img/bg-back-mobile@1x.jpg") 0 -65px no-repeat;
    background-size: auto, cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .app__slogan {
      background:
        url("../img/iphone-hand-mobile@2x.png") 50% 100% no-repeat,
        url("../img/bg-back-mobile@2x.jpg") 0 -65px no-repeat;
      background-size: 258px auto, cover;
    }
  }
}

@media (min-width: 660px) {
  .app {
    width: 100%;
    display: flex;
    flex-direction: column;
    background:
      url("../img/iphone-hand-tablet@1x.png") center 100% no-repeat,
      url("../img/bg-back-tablet@1x.jpg") center no-repeat;
    background-size: auto, cover;
    align-content: flex-start;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .app {
      background:
        url("../img/iphone-hand-tablet@2x.png") center 100% no-repeat,
        url("../img/bg-back-tablet@2x.jpg") center no-repeat;
      background-size: 700px auto, cover;
    }
  }

  .app__wrapper {
    width: 340px;
    margin: 0;
  }

  .app__slogan {
    background: transparent;
    width: 340px;
    padding-top: 203px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 34px;

    &--toggle-open {
      padding-top: 93px;
    }
  }

  .app__slogan-text {
    line-height: 47px;
    padding: 0;
    margin: 0 auto;
    background: transparent;
    font-size: 40px;
  }

  .app__button {
    width: 300px;
    margin: 0;
  }

  .app__platforms-list {
    .resetList();
    padding: 0 46px;
    padding-top: 46px;
    padding-bottom: 32px;
  }

  .app__platforms {
    width: auto;
    .setFont(white, 18px, @light);
    margin: 0;
    padding-bottom: 112px;
  }

  .app__hand {
    background: transparent;
  }
}

@media (min-width: 960px) {
  body {
    width: 100%;
    margin: 0;
  }

  .app {
    width: 100%;
    display: flex;
    flex-direction: column;
    background:
      url("../img/iphone-hand-desktop@1x.png") calc(50% + 70px) 100% no-repeat,
      url("../img/bg-back-desktop@1x.jpg") -690px 0 no-repeat;
    background-size: auto, cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .app {
      background:
        url("../img/iphone-hand-desktop@2x.png") calc(50% + 70px) 100% no-repeat,
        url("../img/bg-back-desktop@2x.jpg") -690px 0 no-repeat;
      background-size: 1050px auto, cover;
    }
  }

  .app__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .app__slogan {
    margin: 0 auto;
    background: transparent;
    width: 960px;
    padding-top: 220px;
    padding-left: 26px;
    padding-right: 10px;
    padding-bottom: 49px;
    display: flex;
    flex-direction: column;
  }

  .app__slogan-text {
    margin: 0;
    width: 300px;
    padding: 0;
    padding-right: 35px;
    background: transparent;
    font-size: 50px;
    line-height: 60px;
  }

  .app__button {
    width: 300px;
    margin: 0;
    font-size: 21px;
  }

  .app__platforms-list {
    width: 300px;
    .resetList();
    padding: 0 48px;
    padding-top: 67px;
    padding-bottom: 52px;
  }

  .app__platforms {
    width: 300px;
    .setFont(white, 18px, @light);
    margin: 0;
    padding-bottom: 121px;
  }
}


@media (min-width: 1800px) {
  .app {
    width: 100%;
    display: flex;
    flex-direction: column;
    background:
      url("../img/iphone-hand-desktop@1x.png") 60% 100% no-repeat,
      url("../img/bg-back-desktop@1x.jpg") 0 0 no-repeat;
    background-size: 1050px auto, cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .app {
      background:
        url("../img/iphone-hand-desktop@2x.png") 60% 100% no-repeat,
        url("../img/bg-back-desktop@2x.jpg") 0 0 no-repeat;
      background-size: 1050px auto, cover;
    }
  }
}
