.app {
  background-color: @menu-color;
  width: 320px;
  height: 667px;

  &__hand {
    height: 396px;
    width: 320px;
    background: url("../../img/bg-back-mobile@1x.jpg") 0px -65px no-repeat;
    padding-top: 0px;
  }

  &__slogan {
    margin: 0 0 0 0;
    padding: 20px 45px 0 45px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: white;
  }

  &__image {
    margin-top: 25px;
  }

  &__button {
    display: block;
    width: 275px;
    height: 49px;
    margin: 28px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid 3px white;
    border-radius: 30px;
    font: bold 18px "Open Sans";
    line-height: 49px;
  }

  &__platforms-list {
    list-style: none;
    padding: 0;
    margin: 32px 58px 0 57px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  &__platforms {
    width: 235px;
    margin: 16px auto;
    color: white;
    font: 300 14px "Open Sans";
    line-height: 1.71;
    text-align: center;
  }
}
