.contest__intro {
  margin: 0 auto;
  width: 280px;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 30px;
  text-align: center;
}

.contest__form {
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.contest__submit {
  margin: 0 0 20px 24px;
  padding: 15px 0;
  width: 276px;
  background-color: @green;
  border: 2px solid @green;
  .setFont(white, 18px, @bold);
  text-transform: uppercase;
  border-radius: 4px;
}

.contest__note {
  margin: 0 0 20px 68px;
  .setFont(@dark-blue, 14px, @regular);
  text-transform: uppercase;
}

.contest__note-redstar {
  color: @pink;
}
