.contest__intro {
  margin: 0 auto;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 41px;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 30px;
  text-align: center;

  &--extra {
    display: none;
  }
}

.contest__form {
  display: flex;
  flex-direction: column;
}

.contest__block {
  padding: 0 20px;
  padding-bottom: 42px;
}

.contest__trip {
  padding-top: 38px;
  background-color: @light-grey;
}

.contest__app {
  padding-top: 38px;
  background-color: @light-grey;
}

.contest__impression {
  padding-top: 38px;
  padding-bottom: 49px;
}

.contest__controls {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.contest__submit {
  margin: 0;
  padding: 0 45px;
  line-height: 59px;
  background-color: @green;
  border: 2px solid @green;
  .setFont(white, 18px, @bold);
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 42px;
}

.contest__note {
  margin: 0;
  height: 1em;
  .setFont(@dark-blue, 14px, @regular);
  text-transform: uppercase;

  &--extra {
    display: none;
  }
}

.contest__note-redstar {
  color: @pink;
}

@media (min-width: 660px) {
  .contest__intro {
    font-size: 18px;
    padding: 91px 80px 73px 80px;

    &--extra {
      display: inline;
    }
  }

  .contest__block {
    background-color: white;
    padding-top: 0;
  }

  .contest__block:nth-child(1) {
    order: 1;
  }

  .contest__block:nth-child(2) {
    order: 4;
  }

  .contest__block:nth-child(3) {
    order: 3;
  }

  .contest__block:nth-child(4) {
    order: 2;
  }

  .contest__block:nth-child(5) {
    order: 5;
    padding-bottom: 0;
  }

  .contest__about {
    padding-bottom: 57px;
  }

  .contest__app {
    padding-bottom: 57px;
  }

  .contest__contact {
    padding-bottom: 57px;
  }

  .contest__trip {
    padding-bottom: 57px;
  }

  .contest__controls {
    order: 6;
    padding-top: 67px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
  }

  .contest__submit {
    margin: 0;
    padding: 0 55px;
  }
}

@media (min-width: 960px) {
  .contest__intro {
    font-size: 18px;
    padding: 93px 200px 75px 200px;

    &--extra {
      display: inline;
      padding: 0;
    }
  }

  .contest__form {
    width: 960px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest__about {
    order: 1;
    width: 470px;
    padding-left: 10px;
    padding-right: 25px;
  }


  .contest__trip {
    order: 4;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contest__contact {
    order: 3;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contest__app {
    order: 2;
    width: 470px;
    margin-top: -5px;
    padding-left: 25px;
    padding-right: 10px;
  }

  .contest__impression {
    order: 5;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .contest__controls {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 65px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contest__note {
    &--extra {
      display: inline;
    }
  }
}
