.contact {
  padding-bottom: 30px;
}

.contact-type {
  margin: 0;
  .setFont(@dark-blue, 18px, @bold);
}

.contact-value {
  text-decoration: none;
  .setFont(@pink, 24px, @light);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
