@dark-color: #283645;

.description {
  height: 962px;
  width: 320px;
  padding-top: 40px;
  background-color: #f2f2f2;
  overflow: hidden;

  &__header {
    width: 205px;
    font: 300 24px "Open Sans", sans-serif;
    text-align: center;
    margin: 0 auto 29px;
    color: @dark-color;
    line-height: 29px;
  }

  &__list {
    list-style: none;
    margin: 113px 0 0 0;
    padding: 0;
  }

  &__list__item {
    text-align: center;
    width: 252px;
    margin: 0 auto;
  }

  &__list__item-header {
    padding: 0;
    margin: 0;
    font: bold 18px "Open Sans", sans-serif;
    color: black;
  }

  &__list__item-content {
    padding: 0;
    margin: 12px 0 31px 0;
    font: normal 14px "Open Sans", sans-serif;
    line-height: 1.75;
  }

  &__helloworld {
    margin: 9px 26%;
  }
}
