.description {
  height: 962px;
  width: 320px;
  padding-top: 40px;
  overflow: hidden;
}

.description__header {
  width: 205px;
  .setFont(@dark-blue, 24px, @light);
  text-align: center;
  background-color: white;
  margin: 0 auto 29px;
  line-height: 29px;
}

.description__wrapper {
  background-color: @light-grey;
}

.description__list {
  list-style: none;
  margin-top: 113px;
  padding: 0;
}

.description__list__item {
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.description__list__item-header {
  margin: 0;
  padding: 0;
  .setFont(black, 18px, @bold);
}

.description__list__item-content {
  padding: 0;
  margin: 12px 0 31px 0;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 1.75;
}

.description__helloworld {
  margin: 9px 26%;
}
