.description {
  min-width: 320px;
  overflow: hidden;
  padding-bottom: 0;
}

.description__title {
  padding-top: 38px;
  position: relative;
}

.description__br {
  display: none;
}

.description__header {
  min-width: 205px;
  .setFont(@dark-blue, 24px, @light);
  text-align: center;
  background-color: white;
  margin: 0;
  line-height: 30px;
  padding-bottom: 27px;
}

.description__header:last-of-type {
  padding-bottom: 39px;
}

.description__wrapper {
  padding-top: 62px;
  position: relative;
  width: 100%;
  background-color: @light-grey;
}

.description__triangle-wrapper {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
  left: 0;
}

.description__triangle {
  position: static;
  transform: rotate(180deg);
  bottom: 3px;
  margin-bottom: -5px;
  width: 100%;
  height: auto;
}

.description__list {
  .resetList();
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.description__item {
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.description__item-header {
  margin: 0;
  padding: 0;
  .setFont(black, 18px, @bold);
}

.description__item-content {
  padding: 0;
  margin: 12px 0 31px 0;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 1.75;

  &--br {
    display: none;
  }
}

.description__helloworld {
  margin: 0 auto;
  height: auto;
  width: 320px;
  display: flex;
  justify-content: center;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -47px;
}

.description__helloworld__item--hidden {
  display: none;
}

.description__effect {
  display: none;
}

@media (min-width: 660px) {
  .description__title {
    padding-top: 45px;
    position: relative;
  }

  .description__triangle {
    margin-bottom: -5px;
    width: 100%;
    height: auto;
  }

  .description__header {
    line-height: 46px;
    font-size: 40px;
    padding: 0;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    margin: 0;
  }

  .description__header:last-of-type {
    padding-bottom: 48px;
  }

  .description__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
  }

  .description__list {
    .resetList();
    padding-top: 12px;
    // padding-bottom: 42px;
    padding-left: 42px;
    flex-grow: 1;
    flex-basis: 320px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
  }

  .description__item {
    text-align: left;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }

  .description__item:nth-child(1) {
    width: 300px;
  }

  .description__item:nth-child(2) {
    width: 310px;
  }

  .description__item:nth-child(3) {
    width: 310px;
  }


  .description__item-header {
    padding-bottom: 11px;
  }

  .description__item-content {
    margin: 0;
    line-height: 24px;

    &--br {
      display: inline;
    }
  }

  .description__helloworld {
    .resetList();
    width: 268px;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: -60px;
    z-index: 1;
    overflow: hidden;
  }

  .description__helloworld__item img {
    width: 268px;
    height: auto;
    padding: 0;
  }

  .description__effect {
    display: block;
    padding-bottom: 75px;
  }

  .description__effect__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    padding-top: 59px;
    background-color: white;
  }

  .description__timer {
    min-width: 238px;
    flex-basis: 238px;
    height: 276px;
  }

  .description__britain {
    padding-top: 35px;
    padding-left: 71px;
  }

  .description__britain-header {
    .setFont(black, 30px, @bold);
    line-height: 36px;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 120px;

    &--hidden-part {
      display: inline;
    }
  }

  .description__britain-content {
    .setFont(@dark-blue, 14px, @regular);
    line-height: 24px;
    margin: 0;
    text-align: left;
    padding-right: 15px;
    padding-bottom: 10px;

    &--hidden-part {
      display: none;
    }
  }

  .description__britain-link {
    .setFont(@pink, 14px, @regular);
    line-height: 24px;
    margin: 0;
  }

  .description__br {
    &--tablet {
      display: inline;
    }

    &--desktop {
      display: none;
    }
  }
}

@media (min-width: 960px) {
  .description {
    background-color: @light-grey;
  }

  .description__header {
    margin: 0 auto;
    background-color: white;
    font-size: 50px;
    line-height: 60px;
  }

  .description__header:last-of-type {
    padding: 0;
    padding-bottom: 70px;
  }

  .description__title {
    background-color: white;
    position: relative;
    padding-top: 62px;
  }

  .description__triangle {
    background-color: white;
    position: static;
    width: 100%;
    height: auto;
    bottom: 0;
  }

  .description__wrapper {
    flex-direction: column-reverse;
    padding: 0;
    position: relative;
    padding-top: 149px;
  }

  .description__helloworld {
    display: flex;
    margin: 0 auto;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    margin-top: -143px;
  }

  .description__helloworld__item {
    margin: 0;

    &--hidden {
      display: block;
    }
  }

  .description__helloworld__item img {
    width: 295px;
    margin: 0;
    height: 300px;
  }

  .description__list {
    padding: 0 0;
    width: 960px;
    margin: 0 auto;
    flex-direction: row;
    padding-top: 53px;
    line-height: 30px;
    justify-content: flex-start;
  }

  .description__item {
    text-align: center;
    // flex-grow: 1;
  }

  .description__item:nth-child(1) {
    width: 240px;
    margin-left: 39px;
    margin-right: 87px;
  }

  .description__item:nth-child(2) {
    width: 225px;
    margin-right: 90px;
  }

  .description__item:nth-child(3) {
    width: 235px;
  }


  .description__item-header {
    .setFont(black, 30px, @bold);
    padding-bottom: 25px;
    // padding: 0 30px 24px 3px;
  }

  .description__item-content {
    font-size: 18px;
    line-height: 30px;
    // padding: 0 60px 0 34px;

    &--br {
      display: none;
    }
  }

  // .description__item:nth-child(2) .description__item-header {
  //   padding: 0 62px 24px 5px;
  // }

  // .description__item:nth-child(2) .description__item-content {
  //   padding: 0 74px 0 19px;
  // }


  // .description__item:nth-child(3) .description__item-header {
  //   padding: 0 45px 24px 15px;
  // }

  // .description__item:nth-child(3) .description__item-content {
  //   padding: 0 42px 0 13px;
  // }

  .description__effect {
    display: block;
    padding: 0;
  }

  .description__effect__wrapper {
    width: 960px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;
    background-color: @light-grey;
    padding-bottom: 67px;
  }

  .description__timer {
    margin: 0;
    flex-grow: 1;
    min-width: 298px;
    max-width: 298px;
    flex-basis: 298px;

    height: 345px;
  }

  .description__britain {
    padding-top: 48px;
    padding-left: 68px;
    width: auto;
    margin: 0;
  }

  .description__britain-header {
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 22px;
    line-height: 30px;

    &--hidden-part {
      display: none;
    }
  }

  .description__britain-content {
    padding-bottom: 35px;
    line-height: 30px;
    font-size: 18px;
  }

  .description__br {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }

  .description__britain-link {
    font-size: 18px;
  }
}
