.input {
  &__text-label {
    font: 400 14px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: @pink-color;
  }

  &__text {
    width: 276px;
    height: 59px;
    border: 2px solid @grey-color;
    font: 400 18px "Open Sans", sans-serif;
    color: @menu-color;
  }

  &__check-label,
  &__radio-label {
    font: 400 18px "Open Sans", sans-serif;
    color: @menu-color;
  }

  &__textarea {
    width: 272px;
    height: 197px;
    border: 2px solid @grey-color;
    font: 400 18px "Open Sans", sans-serif;
    color: @menu-color;
  }

  &__text::placeholder,
  &__textarea::placeholder {
    font: 400 18px "Open Sans", sans-serif;
    color: @menu-color;
  }
}
