.input__text {
  border: 2px solid @grey;
  padding: 20px;
  padding-top: 19px;
  .setFont(@dark-blue, 18px, @regular);
}

.input__text,
.input__textarea {
  &:hover {
    border: 2px solid @dark-blue;
  }

  &:focus,
  &:active {
    border: 2px solid @pink;
  }

  &--invalid {
    border-color: red;
  }
}


.input__check-label,
.input__radio-label {
  .setFont(@dark-blue, 18px, @regular);
  padding-left: 10px;
}

.input__check {
  position: absolute;
  visibility: hidden;

  &:checked + .input__check-label::after {
    opacity: 1;
  }

  &:not(:checked) + .input__check-label::after {
    opacity: 0;
  }
}

.input__check-label {
  display: inline-block;
  position: relative;
  padding-left: 69px;
  padding-bottom: 0;
  line-height: 39px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 39px;
    background-size: 22px 16px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  &:hover::before {
    border: 2px solid @dark-blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }

  &::after {
    background: url("../../img/check-yes.svg") center no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 39px;
    background-size: 22px 16px;
  }
}

.input__radio {
  position: absolute;
  visibility: hidden;

  &:checked + .input__radio-label::after {
    opacity: 1;
  }

  &:not(:checked) + .input__radio-label::after {
    opacity: 0;
  }
}

.input__radio-label {
  display: inline-block;
  position: relative;
  padding-left: 69px;
  padding-bottom: 0;
  line-height: 39px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 39px;
    background-size: 22px 16px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover::before {
    border: 2px solid @dark-blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }

  &::after {
    background: url("../../img/radio-yes.svg") center no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 39px;
    background-size: 22px 16px;
  }
}

.input__textarea {
  border: 2px solid @grey;
  .setFont(@dark-blue, 18px, @regular);
}

.input__text::placeholder,
.input__textarea::placeholder {
  .setFont(@dark-blue, 18px, @regular);
}

@media (min-width: 660px) {
  .input__textarea {
    flex-grow: 1;
    margin: 0;
  }

  .input__radio-label {
    padding-left: 59px;
  }

  .input__check-label {
    padding-left: 59px;
  }
}
