.page-header__head {
  min-width: 320px;
  background-color: @dark-blue;
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  text-decoration: none;
  display: block;
  border: none;
  background-color: @dark-blue;
}

.page-header__toggle {
  width: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media (min-width: 660px) {
  .page-header__head {
    height: 110px;
  }
}

@media (min-width: 1200px) {
  .page-header__head {
    display: none;
  }
}
