.page-header {
  &__head {
    width: 320px;
    height: 69px;
    background-color: @menu-color;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__logo {
    display: block;
    height: 22px;
    margin: 0 0 0 20px;
    width: 75px;
    background-color: @menu-color;
  }
  &__toggle {
    padding: 0;
    width: 24px;
    height: 23px;
    background-color: transparent;
    border: none;
    margin: 0 0 0 182px;
  }

}
