.page-main__slogan {
  width: 320px;
  background: url("../img/bg-back-mobile@1x.jpg") 0 -65px no-repeat;
}

.page-main__slogan-text {
  width: 300px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 80px;
  .setFont(white, 24px, @light);
  text-align: center;
  line-height: auto;
}

@media (min-width: 660px) {
  .page-main__slogan {
    margin: 0;
    padding: 0;
    width: 660px;
    background: url("../img/bg-back-tablet@1x.jpg") -275px -110px no-repeat;
  }
  .page-main__slogan-text {
    margin: 0;
    padding: 0;
    .setFont(white, 50px, @light);
    line-height: auto;
    text-align: center;
    padding-top: 81px;
    padding-bottom: 150px;
  }
}
