.page-main__slogan {
  width: 320px;
  background: url("../../img/bg-back-mobile@1x.jpg") 0 -65px no-repeat;
}

.page-main__slogan-text {
  width: 300px;
  margin: 0 auto;
  .setFont(white, 24px, @light);
  text-align: center;
  line-height: 29px;
}
