.posts__intro {
  padding: 54px 30px 39px 30px;
  .setFont(@dark-blue, 14px, @regular);
  text-align: center;
  line-height: 2.17;
  letter-spacing: 0.25px;
}

.posts__list {
  min-width: inherit;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.posts__item {
  position: relative;
  margin-bottom: 20.3px;
  flex-basis: 280px;

  &--pano {
    flex-basis: 320px;
  }
}

.posts__photo {
  margin: 0;
  padding: 0;

  &--pano {
    margin: 0;
  }
}

.posts__content {
  background-color: @light-grey;
  padding-bottom: 20px;
}

.posts__author {
  margin: 0;
  padding: 18px 0 0 17px;
}

.posts__author-name {
  .setFont(@dark-blue, 14px, @bold);
  line-height: 24px;
}

.posts__author-time {
  .setFont(@dark-blue, 12px, @light);
  text-transform: uppercase;
}

.posts__text {
  margin: 0;
  padding-left: 17px;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 24px;
}

.posts__like {
  margin: 10px 0 0 18px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
}

.posts__like__button {
  padding: 0;
  margin-right: 19px;
  background-color: transparent;
  border: none;
  fill: red;
  align-self: center;
}

.posts__like-count {
  margin: 0;
  padding: 0;
  .setFont(@pink, 12px, @regular);
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.15px;
}

.posts__content--pano {
  margin-left: 20px;
  margin-right: 20px;
}

.posts__photo--pano__label {
  width: 140px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 20px;
  .setFont(white, 12px, @bold);
  text-transform: uppercase;
  background-color: #d22856;
  line-height: 36px;
  text-align: center;
}

.posts__photo-image {
  &--tablet {
    display: none;
  }

  &--mobile {
    display: block;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: 660px) {
  .posts__photo-image {
    &--tablet {
      display: block;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: none;
    }
  }

  .posts__item--pano {
    flex-basis: 660px;
  }

  .posts__list {
    min-width: inherit;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .posts__item {
    flex-basis: 280px;
    background-color: @light-grey;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .posts__photo-image {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .posts__item--pano {
    flex-basis: 660px;
  }

  .posts__list {
    min-width: inherit;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 130px;
  }

  .posts__item {
    flex-basis: 280px;
    background-color: @light-grey;
    display: flex;
    flex-direction: column;
  }
}
