.posts__intro {
  padding: 54px 30px 39px 30px;
  .setFont(@dark-blue, 14px, @regular);
  text-align: center;
  line-height: 2.17;
  letter-spacing: 0.25px;
}

.posts__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.posts__genlist {
  .resetList();
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts__item {
  width: 280px;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  &--pano {
    flex-basis: 100%;
    margin: 0;
  }
}

.posts__photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  &--pano {
    margin: 0;
  }
}

.posts__photo-image {
  width: 100%;
  height: auto;
}

.posts__content {
  background-color: @light-grey;
  padding-bottom: 20px;
  flex-grow: 1;
  max-width: 940px;

  &--pano {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.posts__author {
  margin: 0;
  padding: 18px 0 0 17px;
}

.posts__author-name {
  .setFont(@dark-blue, 14px, @bold);
  line-height: 24px;
}

.posts__author-time {
  .setFont(@dark-blue, 12px, @light);
  text-transform: uppercase;
}

.posts__text {
  margin: 0;
  padding-left: 17px;
  .setFont(@dark-blue, 14px, @regular);
  line-height: 24px;
}

.posts__like {
  margin: 10px 0 0 18px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
}

.posts__like__button {
  padding: 0;
  margin-right: 19px;
  background-color: transparent;
  border: none;
  fill: red;
  align-self: center;
}

.posts__like-count {
  margin: 0;
  padding: 0;
  .setFont(@pink, 12px, @regular);
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.15px;
}

.posts__photo--pano__label {
  width: 140px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 20px;
  .setFont(white, 12px, @bold);
  text-transform: uppercase;
  background-color: #d22856;
  line-height: 36px;
  text-align: center;
}


@media (min-width: 620px) {
  .posts__genlist {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .posts__item:nth-of-type(2n) {
    margin-left: 20px;
  }
}

@media (min-width: 660px) {
  .posts__list {
    min-width: inherit;
    max-width: 1200px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 auto;
  }

  .posts__item {
    flex-basis: 300px;
    background-color: @light-grey;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 0;

    &--pano {
      background-color: white;
      min-width: 100%;
    }
  }

  .posts__photo {
    height: 300px;

    &--pano {
      min-height: 514px;
    }
  }

  .posts__photo-image {
    width: 100%;
    height: 300px;

    &--pano {
      height: 100%;
    }
  }
}

@media (min-width: 960px) {
  .posts__genlist {
    width: 940px;
    padding: 0;
    justify-content: space-between;
  }

  .posts__content--pano {
    width: 940px;
    align-self: center;
    margin: 0;
  }

  .posts__item:nth-of-type(2n) {
    margin-left: 0;
  }


  @media (min-width: 1200px) {
    .posts__list {
      min-width: 1200px;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .posts__genlist {
      max-width: 940px;
      padding: 0;
    }

    .posts__item {
      flex-basis: 300px;
      background-color: @light-grey;
      display: flex;
      flex-direction: column;

      &--pano {
        background-color: white;
        width: 1200px;
      }
    }

    .posts__photo {
      height: 400px;

      &--pano {
        height: 506px;
      }
    }

    .posts__photo-image {
      width: 100%;
      height: 400px;

      &--pano {
        height: auto;
      }
    }

    .posts__content {
      &--pano {
        width: 940px;
        margin: 0 auto;
      }
    }
  }
}
