.posts {
  &__intro {
    width: 241px;
    height: 74px;
    margin: 45px auto 0;
    font: normal 14px "Open Sans";
    color: @dark-color;
    text-align: center;
    line-height: 2.17;
    letter-spacing: 0.25px;
  }
  &__list {
    list-style: none;
    margin: 65px 0 0 0;
    padding: 0;
  }
  &__item {
    position: relative;
    margin: 0 0 20.3px 0;
  }
  &__photo {
    height: auto;
    margin: 0 0 0 20px;
    padding: 0;
  }
  &__photo--pano {
    margin: 0;
  }
  &__content {
    width: 280px;
    margin: 0 auto;
    margin-top: -5px;
    background-color: #f2f2f2;
    padding-bottom: 20px;
  }
  &__author {
    margin: 0;
    padding: 18px 0 0 17px;
  }
  &__author-name {
    font: bold 14px "Open Sans";
    line-height: 24px;
  }
  &__author-time {
    font: 300 12px "Open Sans";
    text-transform: uppercase;
  }
  &__text {
    margin: 0;
    width: 250px;
    padding: 0 0 0 17px;
    font: 300 14px "Open Sans";
    line-height: 24px;
  }
  &__like {
    margin: 10px 0 0px 18px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
  }
  &__like__button {
    padding: 0;
    margin: 0 19px 0 0;
    width: 13px;
    height: 12px;
    background-color: transparent;
    border: none;
    fill: red;
    align-self: center;
  }
  &__like-count {
    margin: 0;
    padding: 0;
    color: #d22856;
    font: normal 12px "Open Sans";
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.15px;
  }
  &__photo--pano__label {
    width: 140px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    font: bold 12px "Open Sans";
    text-transform: uppercase;
    background-color: #d22856;
    line-height: 36px;
    text-align: center;
  }
}










