.questions__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.questions__intro {
  .setFont(@dark-blue, 24px, @light);
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 32px;
  line-height: 30px;
}

.questions__contact-list {
  .resetList();
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.questions__item {
  padding-bottom: 15px;
  flex-grow: 1;
}

.questions__item:nth-child(2) {
  padding-left: 2px;
  padding-bottom: 22px;
}

.questions__item-type {
  margin: 0;
  .setFont(@dark-blue, 18px, @bold);
}

.questions__item-value {
  display: block;
  text-decoration: none;
  line-height: normal;
  .setFont(@pink, 24px, @light);
  margin: 0;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    text-decoration: underline;
    color: @dark-blue;
  }

  &:active {
    text-decoration: none;
    opacity: 30%;
  }
}

.questions__map__wrapper {
  width: 100%;
  position: relative;
  background: url("../img/icon-map-marker.svg") center 56% no-repeat, url("../img/bg-map-mobile@1x.png") center bottom;
  background-size: auto, cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .questions__map__wrapper {
    background: url("../img/icon-map-marker.svg") center 56% no-repeat, url("../img/bg-map-mobile@2x.jpg") center bottom;
    background-size: auto, cover;
  }
}

.questions__map {
  border: none;
  margin-bottom: -5px;
  width: 100%;
}

.questions__triangle {
  top: -1px;
  position: absolute;
  width: 100%;
  height: auto;
}

@media (min-width: 660px) {
  .questions {
    padding-bottom: 0;
  }

  .questions__item {
    padding-bottom: 44px;
  }

  .questions__item:nth-child(1) {
    margin-right: 7px;
  }

  .questions__item-type {
    font-size: 18px;
    line-height: normal;
    padding-right: 5px;
    padding-bottom: 3px;
  }

  .questions__item-value {
    width: 240px;
    padding: 0;
    margin: 0 auto;
  }

  .questions__item:last-of-type {
    padding-bottom: 0;
  }

  .questions__intro {
    padding-top: 44px;
    font-size: 40px;
    line-height: 48px;
  }

  .questions__contact-list {
    padding-top: 14px;
    padding-left: 2px;
    padding-bottom: 22px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .questions__map__wrapper {
    position: relative;
    background: url("../img/icon-map-marker.svg") center 59% no-repeat, url("../img/bg-map-tablet@1x.jpg") center 72%;
    background-size: auto, cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .questions__map__wrapper {
      background: url("../img/icon-map-marker.svg") center 59% no-repeat, url("../img/bg-map-tablet@2x.jpg") center 72%;
      background-size: auto, cover;
    }
  }

  .questions__map {
    height: 375px;
  }
}

@media (min-width: 960px) {
  .questions__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .questions__intro {
    line-height: 60px;
    padding-top: 65px;
    font-size: 50px;
  }

  .questions__item-type {
    padding-bottom: 23px;
  }

  .questions__item:nth-of-type(1) {
    order: 1;
  }

  .questions__item:nth-of-type(1) .questions__item-value {
    padding-right: 5px;
  }

  .questions__map {
    height: 510px;
  }

  .questions__contact-list {
    padding-top: 21px;
    margin: 0 -15px;
    padding-bottom: 0;
  }

  .questions__map__wrapper {
    position: relative;
    background: url("../img/icon-map-marker.svg") center 56% no-repeat, url("../img/bg-map-desktop@1x.jpg") 0 59% no-repeat;
    background-size: auto, 100%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .questions__map__wrapper {
      background: url("../img/icon-map-marker.svg") center 56% no-repeat, url("../img/bg-map-desktop@2x.jpg") 0 59% no-repeat;
      background-size: auto, cover;
    }
  }

  .questions__triangle {
    top: -1px;
    position: absolute;
    width: 100%;
    height: auto;
  }
}
