.reviews__list {
  .resetList();
}

.reviews__review__name {
  .setFont(black, 18px, @bold);
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
}

.reviews__review__text {
  .setFont(@dark-blue, 14px, @regular);
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
