.reviews {
  width: 100%;
  position: relative;
}

.reviews__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.reviews__list {
  .resetList();
  padding-top: 22px;
  margin-bottom: 19px;
  position: relative;
}

.reviews__review {
  display: flex;
  flex-direction: column;
}

.reviews__review__name {
  margin: 0;
  .setFont(black, 18px, @bold);
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
}

.reviews__review__caption {
  display: none;
}

.reviews__review__text {
  .setFont(@dark-blue, 14px, @regular);
  line-height: 30px;
  text-align: center;
}

.reviews__toggles {
  padding-bottom: 65px;
}

  .reviews__buttons {
    display: none;
  }

.reviews__triangle {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 3px;
  transform: rotate(180deg);
  margin-bottom: -3px;
}

@media (min-width: 660px) {
  .reviews__review__caption {
    display: block;
    margin: 0;
    text-align: center;
    .setFont(@dark-blue, 14px, @regular);
    line-height: 30px;
    padding-bottom: 17px;
  }

  .reviews__list {
    margin-bottom: 17px;
  }

  .reviews__review {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__review__name {
    .setFont(black, 20px, @bold);
    line-height: 30px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 2px;
  }

  .reviews__review__text {
    .setFont(@dark-blue, 18px, @regular);
    line-height: 30px;
    margin: 0;
  }

  .reviews__toggles {
    padding: 0;
    margin: 0;
    padding-bottom: 73px;
  }
}

@media (min-width: 960px) {
  .reviews {
    position: relative;
  }

  .reviews__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 95px;
  }

  .reviews__buttons {
    display: block;
    position: absolute;
    top: 218px;
    width: 22px;
    height: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 30%;
    cursor: pointer;
    &--right {
      right: 10px;
    }
    &--left {
      left: 10px;
    }
  }

  .reviews__buttons svg {
    width: 22px;
    height: 41px;
  }

  .reviews__list {
    margin: 0 auto;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
  }

  .reviews__review__caption {
    display: block;
    margin: 0;
    text-align: center;
    .setFont(@dark-blue, 18px, @regular);
    line-height: 30px;
    padding-bottom: 15px;
    padding-top: 2px;
  }

  .reviews__review {
    padding: 0 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .reviews::before {
    width: 79px;
    height: 63px;
    top: 75px;
    left: 47%;
    content: "";
    background: url("../../img/icon-quotes.svg") no-repeat;
    position: absolute;
    background-size: 79px 63px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__review__name {
    .setFont(black, 24px, @bold);
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 36px;
  }

  .reviews__review__text {
    .setFont(@dark-blue, 18px, @regular);
    line-height: 30px;
    margin: 0;
    opacity: 60%;
    padding-top: 188px;
  }
}
