.site-list {
  flex-basis: 320px;
  .resetList();
  display: flex;
  flex-direction: column;
}

.page-footer {
  display: none;
}


.site-list__item a {
  display: block;
  text-decoration: none;
  background-color: @dark-blue;
  .setFont(white, 18px, @bold);
  border-bottom: 1px solid black;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  line-height: 63px;
  text-align: center;
}

@media (min-width: 660px) {
  .site-list {
    min-width: 660px;
  }
}

@media (min-width: 1200px) {
  .site-list {
    height: 110px;
    background: @opacity-menu-color;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 20%;
  }

  .site-list__item a {
    background-color: transparent;
    .setFont(white, 18px, @regular);
    text-align: center;
    text-transform: none;
    border: none;
    box-shadow: none;
  }
}
