.tool__button {
  border: none;
  background: inherit;
  margin: 0;
  padding: 0;
}

.tool__button-image {
  fill: @dark-blue;
  opacity: 30%;

  &--active {
    fill: @pink;
    opacity: 100%;
  }
}

.tool__control {
  display: block;
  height: 15px;
  background-color: white;
}

@media (min-width: 660px) {
  .tool__button-image {
    fill: @pink;
    opacity: 100%;
  }
}
