.tool {
  margin: auto;
}

.tool__button {
  border: none;
  background: inherit;
}

.tool__button-image {
  fill: @dark-blue;
  opacity: 30%;

  &--active {
    fill: @pink;
    opacity: 100%;
  }
}

.tool__control {
  &--cut__cut-area {
    width: 240px;
    margin-left: 48px;
    margin-bottom: 20px;
  }

  width: 320px;
  margin-left: -20px;
  border-bottom: 2px solid rgba(@dark-blue-rgb, 10%);
}
