html {
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 660px) {
  body {
    min-width: 660px;
  }
}
